body {
  background-color: lightcoral;
}

header {
  height: 90px;
  justify-content: center;
  width:100vw;
  background: linear-gradient(
    120deg,
    red 10%,
    orange 30%,
    yellow 45%,
    green 60%,
    blue 70%,
    indigo 80%,
    violet 92%,
    deeppink 95%
  );
  text-align: center;
  font-style: bolder;
  font-family: monospace;
}

#fom {
  background-color: chartreuse;
  font-family: "Franklin Gothic Medium";
  cur
}
